$black: #1a1a1a;
$grey: #b2b2b2;
$white: #fff;

html {
	overflow: hidden;
}

html, body, #root, [data-reactroot], .container-fluid, .h100 {
	min-height: 100%;
    height: 100%;
    position: relative;
}

@media screen and (max-height: 862px) {
	.contact {
		.content {
			padding-right:20px !important;
			padding-left:20px !important;
			padding-bottom:0 !important;
			&.important	{
				padding-top:20px !important;
			}
			.address {
			    margin-top: 20px !important;
			}
		}
	}
	.contact-form .row.text-center {
		bottom: -25px !important;
	}
	.contact-form-geral textarea {
		height: 80% !important;
	}
}
@media screen and (max-height: 727px) {
	.home {
		.contact-form {
			height: 120% !important;
		}
	}
	.contact {
		.important.content {
			p, .text p {
				font-size: 13px !important;
			}
			padding: 20px !important;
			padding-top: 20px !important;
		}
	}
}
@media screen and (max-height: 642px) {
	.servicesPage .text {
		padding-top: 10% !important;
	    padding-left: 55px !important;
	    padding-right: 105px !important;
	}
	.services .contact-form, .contact-form-geral {
		height: 95% !important;
	}
}
@media screen and (max-height: 595px) {
	.services {
		.servicesPage .nav {
			margin-top: 10% !important;
		}
	}
}

@media screen and (max-width: 950px) {
	
	.home {
		.portfolio-transition.portfolio-transition-open {
		    transform: translateX(50%) translateY(-1%) !important;
			.page {
				padding-left: 30px;
				width: 55%;
			}
		}
	}
	.services {
		.portfolio-transition.portfolio-transition-open {
			transform: translateX(41%) translateY(0%) !important;
			.page.portfolio {
				padding-left: 30px;
				padding-right: 48px;
			}
		}
	}
	.contact {
		.portfolio-transition.portfolio-transition-open {
		    transform: translateX(51%) translateY(49%) !important;
		    .page.portfolio {
		    	padding-left: 30px;
	    	    padding-right: 85px;
		    	width: 55%;
		    }
		}
	}
}

@media screen and (max-width: 767px) {
	
	.nav-menu {
		left: 25% !important;
		.item1 {
			top: 14% !important;
		}
		.item2 {
			top: 38% !important;
		}
		.item3 {
			top: 60% !important;
		}
		.blog {
			top: 75% !important;
		}
	}

	.page.portfolio {
		height: 102% !important;
	}

	.contact-form {
    	padding-bottom: 0 !important;
   		transform: translateX(0%) translateY(-49%) !important;
   		width: 107% !important;
   		height: 100% !important;
   		border-radius: 0 !important;
   		padding: 5% !important;

   		button.close {
   			background-color: #fff !important;
   			padding: 0 !important;
   			margin: 0 !important;
   			bottom: 0 !important;
   			width: 0;
			bottom: 30px !important;
		    width: 13px;
		    right: 15px !important;
		    height: 13px;
		    top: initial !important;
		    z-index: 1000;
   		}

   		.row.text-center {
   			position: absolute;
		    left: 68%;
		    width: 100%;
		    transform: translateX(-65%);
		    bottom: 0;
   		}
    }

    .react-toasts {
    	font-size: 13px !important;
    }

    .home, .services {
    	.nav-menu {
			.item1, .item2, .item3, .blog {
		        transform: translateX(-60%) translateY(-50%) rotate(90deg) !important;
			}
			.item4 {
				transform: translateX(-60%);
			}
		}
    }

    .home, .services, .contact {
	    .nav-menu {
			.item1 {
		    	top: 9% !important;
		    }

		    .item2 {
		    	top: 30% !important;
		    }

		    .item3 {
		    	top: 50% !important;
		    }

		    .blog {
		    	top: 66% !important;
		    }

		    .item4 {
		    	right: -50% !important;
			    img {
			    	width: 35px;
			    }
		    }
	    }
	    .portfolio {
    	    padding-top: 4%;
		    padding-right: 10% !important;
		    padding-left: 10% !important;
		}
    }

    .services, .contact .content {
    	.portfolio-transition {
    		height: 100% !important;
		    left: 0%;
		    top: 0%;
		    bottom: initial !important;
    		width: 200% !important;
    		transform: translateX(100%) translateY(0%) !important;

    		&.portfolio-transition-open {
	    		transform: translateX(0%) translateY(0%) !important;
	    	}
    	}
    	.nav-menu .item4 {
    		bottom: 2%;
    	}
    	
    	.contact-form {
    		left: initial !important;
	   		right: 49% !important;
	    	width: 45% !important;
	    	height: 95% !important;
	    	transform: translateX(-14%) translateY(-50%) !important;
	    	top: 50% !important;
    	}
    }

	.home.important {
		.content {
			z-index: 4;
		}
		.h15 {
			height: 3% !important;
		}
		.h70 {
			height: 94% !important;
			padding-left: 3%;
		}

	    .portfolio-transition-open {
	    	transform: translateX(-1%) translateY(-1%) !important;
	    	.page {
	    		background-color: $white !important;
	    		width: 100%;
	    	}
	    }
	    .portfolio-transition {
	    	width: 102%;
	    }
    }

    .services {
    	.imgBG {
		    height: 830px;
		    left: 60%;
    		transform: translateX(-60%);
    	}
    	.content {
    		.item1, .item2 {
    			left: -5% !important;
	    		.verticalText {
	    			font-size: 19px !important;
	    		}
	    		.subItens {
	    		    left: 75%;
	    			font-size: 14px !important;
	    		}
    		}
    		.item1 {
    			top: 30% !important;
    		}
    		.item2 {
    			top: 65% !important;
    		}

			.servicesPage {
				width: 100%;
				height: 100%;
				padding-bottom: 0%;
				.text {
					padding-left: 6% !important;
					padding-top: 10%;

					ul {
					    font-size: 11px;
					}
					p {
						font-size: 9px !important;
					}
					h1 {
						font-size: 18px;
    					margin-bottom: 4%;
    				}
				}
				.close {
					width: 50px;
    				background-color: #fff !important;
    				position: absolute;
    				padding: 0 !important;
    				margin-top: 10px;
				}
			}
    	}
    }
    .contact {
    	.nav-menu {
			.item1, .item2, .item3, .blog {
		        transform: translateX(-44%) translateY(-50%) rotate(90deg) !important;
			}
			.item4 {
				transform: translateX(-60%);
			}
		}
    	.h15 {
    		height: 5%;
    	}
    	.h70 {
    		height: 90%;
    	}
    	div.content {
    		margin-left: 5%;
		    padding-left: 15px !important;
    		padding-right: 0px !important;
    		padding-top: 20px !important;

    		.contact-form-geral {
			    width: 88% !important;
	    		right: -3% !important;
	   		}

    		p {
    			font-size: 70% !important;
    		}
    		h1 {
    			font-size: 20px !important;
    		}
    		.maps iframe {
		        padding-right: 10%;
    		}
    		.bottom {
    			
    			.btn-small {
    				font-size: 10px;
    			}
    			.icons {
    				text-align: center !important;
    			}
    			@media screen and (max-width: 348px) {
	    			.col-6, .col-4 {
	    				flex: 0 0 100%;
	    				max-width: 100%;
	    			}
    			}
    		}
    	}
    	.rodape {
    		font-size: 9px !important;
    	}
    }


    .portfolio {
    	padding-left: 22px !important;
    	.text {
    		padding-right: 0% !important;
    		p {
    			font-size: 11px;
    		}
    		.fonte {
    			margin-top: 12%;
    			font-size: 8px;
    		}
    		.close {
    			display: none;
    		}
    	}
    }

    button.btn {
    	background-color: #676666 !important;
	    border-radius: 0px !important;
	    padding: 15px !important;
	    width: 100%;
	    font-size: 13px;
	}
}

.h100 {
	height: 100%;
}

.h70 {
	height: 76%;
}

.h15 {
	height: 12%;
}

.h60 {
	height: 60%;
}

.h50 {
	height: 50%;
}

.h40 {
	height: 40%;
}

.h90 {
	height: 90%;
}

.h80px {
	height: 80px;
}

.w100 {
	width: 100%;
}

.fixed {
	position: fixed;
}

.right-0 {
	right: 0;
}

.left-0 {
	left: 0;
}

@font-face {
    font-family: Orator;
    src: url(Fontes/OratorStd.otf);
}

.verticalText {
	font-family: Orator;

	-webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform: rotate(-90deg);

    
    white-space:nowrap;
    display:block;
}

.nav-blog {
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
}

.nav-menu {
	font-family: Orator;

	height: 100%;
	position: relative;
	left: 50%;
	margin-right: 30%;

	z-index: 3;
	
	.item1, .item2, .item3, .blog {
		transform:  translateX(-50%) translateY(-50%) rotate(90deg);
    	position: absolute;
    	cursor: pointer;
	}

    .item1 {
    	top: 29%;
    }

    .item2 {
    	top: 53%;
    }

    .item3 {
    	top: 75%;
    }

    .item4 {
    	position: absolute;
    	right: -50%;
    	bottom: 3%;

    	img {
    		cursor: pointer;
    	}
    }
}

.home {
	.content {
		position: relative;
		height: 100%;
		img {
		    height: 42px;
    		margin-bottom: 18px;
		}
		.in-middle {
			width: 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		text-align: center;
		background-color: $black;
		h1 {
			font-family: Orator;
		    color: $white;
			font-size: 25px;
		}
		@media screen and (max-width: 1015px) {
			.portfolio {
	    		padding-right:0;
	    	}
	    }
	    .page {
	    	background-color: #fff;
	    }
	}

	.portfolio-transition-open {
	    transform: translateX(57%) translateY(-1%) !important;
		.portfolio {
			padding-right: 0;

			.close {
			    right: 65%;
			}
		}
	}
}

.contact {
	background-color: $black;
    color: $white;
    height: 100%;
    z-index: 1;

    .rodape {
    	font-family: Orator;
    	font-size: 16px;
    	width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
    	p {
    		text-align: center;
    		width: 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: $grey;
    	}
    	img {
    		width: 41px;
		    position: absolute;
		    bottom: -20px;
		    right: 0;
		    cursor: pointer;
    	}
    }

    .content {
	    overflow: auto;
	    padding-left: 80px;
	    padding-right: 80px;
	    padding-bottom: 80px;
	    padding-top: 60px;
    	background-color: $white;
    	color: $black;

    	@media screen and (max-width: 996px) {
    	    padding-top: 40px !important;
    	}

    	.maps {
    		-webkit-filter: grayscale(100%);
    		filter: grayscale(100%);
	    	iframe {
	    		width: 100%;
	    	}
    	}

    	@media screen and (min-width: 1358px) {
    		p {
	    		font-size: 16px !important;
	    	}
	    	.address {
	    		font-size: 16px !important;
	    	}
    	}

    	p {
    		font-family: Lato;
    		font-size: 13px;
    	}
    	.bottom {
    		margin-top: 3%;
	    	margin-bottom: 3%;
	    	.icons {
	    		text-align: right;
	    		img {
	    			width: 140px;
	    		}
	    	}
	    	.btn-small {
    			font-family: Orator;
    			font-size: 13px;
    			color: $grey;
    			background-color: transparent !important;
			    border: transparent;
			    width: 100%;
			    padding: 0 !important;
	    	}
    	}
    	.address {
    		font-family: Orator;
    		font-size: 13px;
    		color: $black;

    		@media screen and (min-width: 992px) {
    			margin-top: 80px;
    		}
    	}

    	h1 {
    		font-family: Orator;
    	}
	}
	.page {
		background-color: #fff;
	}
	.portfolio-transition {
		transform: translateX(100%) translateY(49%) !important;
	    position: fixed;
	    width: 97%;
	    z-index: 3;
	    height: 75%;
	    left: 0%;
	    bottom: 50%;

	    .close {
	    	top: -1%;
	    	right: 65%;
	    }
	}

	.portfolio-transition-open {
		transform: translateX(57%) translateY(49%) !important;
	}
}

.inPortfolio {
	&.nav-menu {
		color: $black !important;

		.item1 {
			color: $grey;
		}
	}
}

.contact {
	.contact-form-geral {
		height: 95%;
		left: 50%;
	}
}

.services {
	.contact-form {
		height: 96%;
	    top: 38%;
	}
}

.imgBG {
	position: fixed;
	left: 0; 

	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	@media screen and (max-width: 1183px) {
		left: -62%;
	}
}

.services {
	z-index: 1;
	height: 100%;

	.nav-menu, .nav-blog {
		color: $white;
	}

	.page {
		height: 75%;
	}

	.rodape {
		img {
    		width: 41px;
		    position: absolute;
		    bottom: -50px;
		    right: 44px;
		    cursor: pointer;
    	}
	}
	@media screen and (max-width: 840px) {
    	.portfolio-transition-open {
    		transform: translateX(41%) translateY(0%) !important;

    		.portfolio {
    			padding-right: 0%;
    		}
    	}
    }
	.portfolio-transition {
	    position: fixed;
	    width: 100%;
	    z-index: 3;

	    .close {
			position: absolute;
		    top: -1%;
		    right: 75%;
		}
		.contact-form {
			.close {
				right: 0;
			}
		}
	}

	.content {
		height: 100%;
		font-family: Orator;
		color: $white;
		font-size: 25px;

		.item1 {
			position: absolute;
			top: 22%;
    		left: -5%;
		}

		.subItens {
			position: absolute;
			left: 88%;
		    top: -138%;
		    width: 400px;
			.item {
				margin-bottom: 40px;
				cursor: pointer;
			}
		}

		.item2 {
			position: absolute;
			top: 77%;
    		left: -5.8%;
		}

		
	}

}

.portfolio {
    padding-left: 63px;
    
    padding-right: 97px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $black;

    @media screen and (max-width: 1132px) {
    	font-size: 14px !important;
    }

	
	.text {
		position: relative;
		padding-top: 36px;
		text-align: left;
		font-family: Lato;
		height: 100%;
		overflow: auto;

		.fonte {
			font-size: 14px;
		}
	}

	.close {
	    position: absolute;
	    top: -3%;
	    right: 10%;
	}

	button:hover {
	    font-size: 17px;
	}
}


.home-transition {
	transform: translateX(-25%) translateY(-50%) !important;
    transition: transform 1000ms ease-in-out;
}

.portfolio-transition-open {
	transform: translateX(47%) translateY(0%) !important;
    transition: transform 1000ms ease-in-out;
}
.portfolio-transition {
	height: 100%;
    transform: translateX(100%) translateY(0%);
}


.transition-enter {
	transform: translate(100%);
}
.transition-enter.transition-enter-active {
	transform: translate(0%);
	transition: transform 1000ms ease-in-out;
}

.transition-right-enter {
	transform: translate(-100%);
}
.transition-right-enter.transition-right-enter-active {
	transform: translate(0%);
	transition: transform 1000ms ease-in-out;
}


.page {
	background-color: #ffffffb8;
	height: 102%;
	width: 51%;
	overflow: auto;
	z-index: 3;
}

.contact-form {
	width: 700px;
	position: fixed;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 3;
	background-color: $white;
	padding: 50px;
	height: 125%;
    overflow: auto;
    border-radius: 8px;
    left: 0%;

    input {
    	width: 100%;
    	height: 100%;
    }

	textarea {
		width: 100%;
		height: 115%;

    	@media screen and (max-height: 712px) {
    		height: 100%;
    	}
    	@media screen and (max-height: 600px) {
    		height: 80%;
    	}

	}

	button:hover {
	    font-size: 17px;
	}
	.close {
		position: absolute;
	    top: 0;
	    right: 0 !important;
	}

	.row.text-center {
		position: absolute;
	    left: 68%;
	    width: 100%;
	    transform: translateX(-65%);
	    bottom: 0;
	}
}

.servicesPage {
	z-index: 1;
	position: fixed;
	left: 0%;
	height: 75%;
	width: 50%;
	background-color: #ffffffb8;
	font-size: 15px;
	overflow: auto;

	ul {
		list-style: none;
  		padding: 0;
  		font-size: 14px;
		li:before {
	  		content: ". ";
	  	}
  	}
  	@media screen and (max-width: 1183px) {
  		.text, .nav {
  			padding-left: 100px !important;
  		}
  	}
  	@media screen and (max-width: 870px), screen and (max-height:558px) {
  		.text {
  			padding-top: 5%;
			padding-right: 80px !important;
			padding-left: 20px !important;
		}
		.nav {
			padding-left: 20px !important;
		}
  	}
	.text {
	    padding-top: 15%;
	    padding-left: 196px;
	    padding-right: 150px;
		font-family: Lato;
		color: $black;
		font-size: 12px;
	}
	.nav, h1 {
		font-family: Orator;
		color: $grey;
	}

	h1 {
		margin-top: 8%;
		margin-bottom: 8%;
		font-size: 30px;
	}

	.nav {
		font-size: 18px;
		padding-left: 196px;
		margin-top: 20%;
		margin-bottom: 0;
		.item {
			cursor: pointer;
			span {
				margin-left: 24px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
			p {
				transform: translateY(-50%);
			}
		}
	}

	&.whatWeDO {
		.text {
			padding-top: 75px;
		    padding-left: 196px;
		    padding-right: 110px;
		}
	}
}

.hidden {
	display: none;
}

.relative {
	position: relative;
}

.margin-0 {
	margin: 0 !important;	
}

.margin-left-50 {
	margin-left: 50px !important;
}

.margin-top-5 {
	margin-top: 5%;
}

.margin-bottom-5 {
	margin-bottom: 5%;
}

.margin-bottom-1 {
	margin-bottom: 1%;
}

.margin-bottom-10px {
	margin-bottom: 10px;
}

.padding-right-50px {
	padding-right: 50px;
}

.z-index1 {
	z-index: 1;
}

.black {
	color: $black !important;
}

button {
	font-family: Orator;
	background-color: $grey;
	color: #fff;
	@media screen and (max-width: 900px) {
	    padding: 5px 15px 5px 15px;
	}
	padding: 15px 50px 15px 50px;
	border-radius: 8px;
	cursor: pointer;
	
	&.close {
		padding: 28px;

		&:hover {
		    font-size: 2em;
		}
	}

	&.btn-small {
		&:hover {
		    color: $black !important;
		}
	}
}

input {
	font-family: Orator;
	background-color: #e5e5e5;
	color: $black;
	padding: 15px 50px 15px 50px;
	border-radius: 8px;
	border: 0;
    margin-bottom: 10px;
    text-align: center;

    &[type="file"] {
    	width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
    }
}

label[for="annex"] {
	width: 100%;
	text-align: center;
	font-family: Orator;
	font-size: 25px;
    color: $black;
    background-color: transparent;
    cursor: pointer;

    img {
    	margin-right: 15px;
    }
}

textarea {
	border: 0;
    margin-bottom: 10px;
	font-family: Orator;
	background-color: #e5e5e5;
	color: $black;
	padding: 15px 50px 15px 50px;
	border-radius: 8px;
	text-align: center;
}

.services .blur {
	top: -12%;
}

.contact .blur {
	top: 0;
	left: -50%;
}

.blur {
	opacity: 0.8;
    background-color: #808080;
    min-width: 150%;
    min-height: 150%;
    position: fixed;
    z-index: 2;
    top: -20%;
    left: -75%;
}

.react-toasts-container {
    transform: translateX(50%);
    z-index: 0 !important;
    top: 80% !important;
	right: 50% !important;

    .react-toasts {
    	color: #fff;
	    font-family: Orator !important;
	    font-size: 25px;
        
    }
}